<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>STOCK_NO</th>
      <th>DEAL_COUNT</th>
      <th>DEAL_AMOUNT</th>
      <th>DATE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>52</th>
      <td>6138</td>
      <td>10837283</td>
      <td>1.500964e+09</td>
      <td>2022-08-12</td>
    </tr>
    <tr>
      <th>56</th>
      <td>5371</td>
      <td>33567352</td>
      <td>2.202018e+09</td>
      <td>2022-08-12</td>
    </tr>
    <tr>
      <th>68</th>
      <td>2027</td>
      <td>50988196</td>
      <td>1.996188e+09</td>
      <td>2022-08-12</td>
    </tr>
    <tr>
      <th>75</th>
      <td>2027</td>
      <td>50988196</td>
      <td>1.996188e+09</td>
      <td>2022-08-12</td>
    </tr>
    <tr>
      <th>76</th>
      <td>5371</td>
      <td>33567352</td>
      <td>2.202018e+09</td>
      <td>2022-08-12</td>
    </tr>
    <tr>
      <th>77</th>
      <td>6138</td>
      <td>10837283</td>
      <td>1.500964e+09</td>
      <td>2022-08-12</td>
    </tr>
  </tbody>
</table>